body {
  margin: 0;
  background: #D0DCE6;
  display: flex;
  font-weight: inherit;
  font-size: 1.5em;
  color: #334155;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: stretch;
}

.header {
  display: flex;
  flex-direction: row;
  background: #4D63E4;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.header a:hover {
  color: white;
  height: 100%; 
  background-color: #3A4DBB;
}

main {
  margin-right: 5em;
  margin-left: 5em;
  display: flex;
  flex-direction: column;
  padding: 1em;
  align-items: stretch;
  font-size: 1.5em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  border: 1px solid black;
  gap: 1px;
  background-color: black;
  border-radius: 8px;
  overflow: auto;
}

li {
  background-color: white;
  padding: 8px;
}

li:hover {
  background: #dadbf9;
}

a {
  color: #055CB4;
  /* font-weight: 200;
  text-decoration: none; */
}

.site-title {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 3.5em;
  color: white;
  letter-spacing: .1rem;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 10%;               
  background-color:#000000;
  height: 3px;
  margin: 0 auto;
  align-content: center;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-size: 2em;
  line-height: 1.3em;
  font-weight: 200;
}

.sponsor-text {
    font-family: 'fantasy';
    font-size: 1.em;
